services:
  ollama:
    build: .
    container_name: ollama
    privileged: true
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ./ollama-data:/root/.ollama
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_INTEL_GPU=true
      - OLLAMA_HOST=0.0.0.0:11434
    tty: true

  open-webui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: open-webui
    volumes:
      - ./open-webui:/app/backend/data
    ports:
      - 3000:8080
    environment:
      - 'OLLAMA_BASE_URL=http://<HOST_IP>:11434'
      - 'WEBUI_SECRET_KEY=<YOUR_SECRET>'
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped
